
@import '../../styles/variables';

.menu {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.menuLogo {
  height: 120px;
  width: 120px;
  float: left;
}

.menuLinks {
  float: left;
  margin-left: 15px;
  padding-left: 30px;
  border-left: 3px solid $red;
}

.menuLink {
  display: block;
  padding: 5px 0;
  color: $black;
  text-decoration: none;
  &:hover, &:active, &:focus, &.menuLinkActive {
    text-decoration: none;
    color: $red;
  }
}
