
@import '../../styles/variables';

body {
  font-size: 22px;
  color: $black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.root {
  max-width: 600px;
}

.container {
  padding: 15px 0;
}

:global {
  .stage {
    font-size: 45px;
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0.5;
    font-weight: 700;
    pointer-events: none;

    &:before {
      content: 'stage ';
      font-size: 35px;
      font-weight: 300;
    }
  }
}
